body {
  font-family: sans-serif;
  margin: 0 50px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  width: 300px;
  max-height: 100%;
  padding: 15px;
  overflow-y: scroll;
  border: 1px solid rgb(231, 231, 231);
}

.app::-webkit-scrollbar {
  width: 0 !important;
}

#addNew {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(171, 206, 161, 0.35);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#books {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  margin: 0;
}

#books div {
  padding: 5px;
  display: grid;
  gap: 4px;
  margin: 0;
}

#books div p {
  margin: 0;
}

#books div .options {
  justify-self: start;
  display: flex;
  gap: 20px;
  cursor: pointer;
}

#books div hr {
  width: 100%;
}

#msg {
  color: red;
}
